.detailsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.detailsCard {
  background-color: #f2eef7;
  color: #1b4a56;
  border: 2px solid #1b4a56;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  text-align: center;
  box-shadow: 3px 3px 0 #1b4a56;
}

.pokemonName {
  font-size: 28px;
  margin-bottom: 3%;
  font-family: "Syne Mono", monospace;
}

.pokemonWeight {
  margin-bottom: 20px;
}

.pokemonAbilities ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.pokemonAbilities li {
  background-color: #dfe8f0;
  color: #1b4a56;
  padding: 5px 10px;
  margin: 4px 0;
  border-radius: 4px;
}

.pokemonImage {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-top: 20px;
}
