body {
  margin: 0;
  font-family: cursive;
  background-color: #1b4a56;
  color: #f2eef7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttonsCenter {
  margin: auto;
  margin-top: 20%;
}